<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mvvm双向数据绑定</title>
    <script src="./mvvm.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="text" />
      输入的值为：{{ text }}
      <div>
        <input type="text" v-model="text" />
      </div>
    </div>
    <script>
      var vm = new MVue({
        el: "#app",
        data: {
          text: "hello world"
        }
      });
    </script>
  </body>
</html>
